/* Basic CSS Styles */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.dashboard-heading {
    font-size: 2.4rem;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #6496ee;
    grid-row: 1 / span 2;
    padding: 2rem;
}

.header {
    background-color: #fcfcfc;
    grid-row: 1 / span 1;
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.svg-icon {
    filter: brightness(0) saturate(100%) invert(89%) sepia(98%) saturate(10%) hue-rotate(297deg) brightness(110%) contrast(98%);
    width: 1.8rem;
    margin-right: 1.8rem;
}

.svg-icon-large {
    width: 4rem;
}

.sidebar-nav li {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.sidebar-nav li a, .dashboard-heading a {
    color: #fcfcfc;
    display: flex;
}

.sidebar-nav li:first-of-type, .sidebar-nav li:nth-of-type(7) {
    margin-top: 4rem;
}

.search-icon, .notifications-icon {
    filter: brightness(0) saturate(100%) invert(35%) sepia(0%) saturate(1186%) hue-rotate(184deg) brightness(99%) contrast(88%);
    width: 2.4rem;
}

.search-input {
    font-size: 1.8rem;
    width: 100%;
    padding: 0.2rem 1rem;
    border: 0;
    border-radius: 1.5rem;
    background-color: #e0e0e0;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user-info {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.user-avatar {
    border-radius: 50%;
    background-color: #b3b300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar-small {
    width: 4rem;
    height: 4rem;
}

.user-avatar-small img {
    height: 75%;
}

.user-avatar-big {
    width: 6rem;
    height: 6rem;
}

.user-avatar-big img {
    height: 75%;
}

.username {
    font-size: 1.8rem;
    font-weight: 600;
}

.user-greeting {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.user-greeting p:first-of-type {
    font-size: 1.4rem;
    font-weight: 600;
}

.user-greeting p:last-of-type {
    font-size: 2.4rem;
    font-weight: 600;
}

.header .btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.header .btn {
    width: 10rem;
    padding: 0.8rem 1.6rem;
    background-color: #6496ee;
    color: #fcfcfc;
    border: 0;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.main-content {
    background-color: #e0e0e0;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.main-content h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.projects {
    grid-row: span 2;
}

.trending, .announcements {
    grid-row: span 1;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project {
    padding: 2rem 3rem;
    background-color: #fcfcfc;
    grid-row: span 2;
    border-radius: 10px;
    border-left: 8px solid #b3b300;
}

.project-title {
    font-size: 1.6rem;
}

.project-description {
    font-size: 1.2rem;
    font-weight: 600;
    color: #708090;
}

.project .btns {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 2.1rem;
}

.project .btn {
    width: 2rem;
    background-color: #fcfcfc;
    border: 0;
}

.trending-users, .announcement-list {
    background-color: #fcfcfc;
    padding: 2.5rem;
    border-radius: 10px;
}

.announcement-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.trending-username, .user-fullname, .announcement-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.announcement-text, .user-fullname {
    color: #708090;
}

.trending-user {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.trending-user:last-of-type {
    margin-bottom: 0;
}

.announcement {
    border-bottom: 2px solid #e0e0e0;
    margin: 2rem 0;
}

.announcement:first-of-type {
    margin-top: 0;
}

.announcement:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
}

.announcement-text {
    margin-bottom: 2rem;
}